.table-container{
    width: 600px;
    height:fit-content;
}

table {
    width: 100%;
    border: 3px solid aqua;
}

th, td{
    width: 200px;
    height: 40px;
}

th{
    background-color: aqua;
}

td{
    text-align: center;
}

@media screen and (max-width: 750px){
    .table-container{
        width: 400px;
    }
}